

.container {
  width: 735px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

img {
  transition: background-position 0.7s ease;
  z-index: 1000;
  position: absolute;
}

.hoverGarage {
  top: -150%;
}

.door {
  padding-top: 70px;
  text-align: center;
}

.hidden {
  display: none;
}

.garbage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.garbage-card {
  display: flex;
  margin: 10px;
  flex-direction: column;
  border: 1px solid black;
  width: 40%;
}
